# Laravel specific
/vendor/
.env
.env.*
.phpunit.result.cache
.phpunit.cache
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
/public/build
/bootstrap/cache/*.php

# Node modules & build (if using Laravel Mix or Vite)
node_modules/
npm-debug.log*
yarn-error.log*

# Editor & IDEs
/.idea/
/.vscode/
/.fleet/
/.zed/
/.phpactor.json

# Composer auth file
auth.json

# Laravel Nova (if used)
/.nova/

# Homestead & Vagrant
Homestead.yaml
Homestead.json

# OS/system files
.DS_Store
Thumbs.db
